body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 100vw;
    height: 100vh;
    max-width: 320px;
    max-height: 568px;
}

.display {
    display: flex;
    justify-content: right;
    padding: 1rem;
    height: 100%;
    background-color: #1c191c;

    h1 {
        display: flex;
        align-items: flex-end;
        color: white;
        font-weight: normal;
        margin: 0;
        font-size: 4.5rem;
    }
}

.button-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.btn {
    border: none;
    background-color: gray;
    color: white;
    font-size: 1.2rem;
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.btn--operator {
    background-color: #f69906;
}

.active {
    background-color: white;
    color: #f69906;
}

.btn--clear {
    background-color: lightgray;
    color: black;
}

.grid-span-2 {
    grid-column: span 2;
    aspect-ratio: 2/1;
}

.grid-span-3 {
    grid-column: span 3;
    aspect-ratio: 3/1;
}